body{
    background-color: lightseagreen;
}
.container{
    background-color: white;
    width: 600px;
    height: 300px;
    margin:auto;
    display:flex;
    margin-top: 100px;
    
}
.body-left{
    width: 300px;
    height:300px
}
.fa-envelope{
    font-size: 90px;
    margin:auto;
    transform:rotate(45deg);
    margin-top: 100px;
    margin-left:90px;
    color: yellowgreen;
}
.body-right{
    width: 300px;
    height:200px;
}
    
button{
    display:block;
    width: 60px;
    height:80px;
    margin-top: 40px;
  
    
}

.email{
    display:block;
    margin-bottom: 15px;
}

.nombre{
    margin-bottom: 15px;
   
}

.mensaje{
    margin-bottom:15px;
   
}

.sujeto{
    margin-bottom: 15px;
}

.mail{
    margin-bottom: 15px;
}

